<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite">
    <test name="Authorization">
        <classes>
            <class name="main.AuthorizationTest" />
        </classes>
    </test>
    <test name="City Select">
        <classes>
            <class name="main.CitySelectTest" />
        </classes>
    </test>
</suite>